/* eyoucms.com 易优CMS -- 好用,免费,安全 */

.w-logo h1, .w-logo a{color:#3498DB;}
.col-right{ background:#3498DB;}
.topLogBox .w-search .search-btn-w,.search_pc .w-search .search-btn-w{ background:#1A88D2;  }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#3498DB !important;}
.crumbs a:hover,.w-breadcrumbs a:hover{color:#3498DB;}
.topLogBox a:hover,.w-languege a.cur{color:#3498DB;}
.search_pc{ background:#3498DB;}
/*--------------------组件-------------------------*/
.btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{background-color:#3498DB; color:#fff;border-color:#3498DB; }
.icon-social:hover{background-image:url('../image/icon-social-w-0.png');}
.search-defaut-w .search-btn-w{background-color:#3498DB;}
.search-defaut-w .search-btn-w:hover{background-color:#1A88D2;}
.w-form-submit .w-buttom .btn-default-w{background:#3498DB; border-color:#3498DB; color:#fff;}
.w-form-submit .w-buttom .btn-default-w:hover,.w-form-submit .w-buttom .btn-default-w:focus,.w-form-submit .w-buttom .btn-global-w:hover,.w-form-submit .w-buttom .btn-global-w:focus{background-color:#1A88D2; color:#fff;border-color:#1A88D2; }
.captionbgFadeOutScale .caption .captionbg,.captionbgFadeInLeft.imgLeftBig .caption .captionbg,.captionbgFadeInRight.imgRightBig .caption .captionbg{background-color:#3498DB;}
.w-slide-page-num .slide-page a.active{ background-color:#3498DB;}
.color_s_default{ color:#3498DB;}
.bg_s_default{ background:#3498DB;}
.w-service-fixed .color_s_default:hover{color:#1A88D2;}
.w-service-fixed .bg_s_default:hover{ background:#1A88D2;}
.w-service-fixed .service-popc{background:#1A88D2; }
/*-----------------footer-------------------------*/
.w-footer a:hover{color:#3498DB;}
.w-footer .w-social .social-item:hover{ background:#28475B; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
/*--------------------系统------------------------*/
.crumbs{ background:url(../image/crumdbg_0.png) no-repeat left bottom; }
.crumbs .crumbs_in{ border-left:4px solid #3498DB;}
.w-prd-list-cell .w-prd-con:hover{ border-color:#3498DB;}
.w-prd-list-cell .w-prd-infobox h2 a:hover,.w-prd-list-cell .w-prd-infobox .w-prd-more a:hover{color:#3498DB;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#3498DB; border-color:#3498DB; }
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{ background:#1A88D2; border-color:#1A88D2; }
.w-prd-list-cell .w-prd-btns a.btn-addCart:hover{ border-color:#3498DB; color:#3498DB;}
.w-pages a.cur{ border:1px solid #125FA5; background:#B9DFFF; color:#125FA5; }
.w-pages a:hover{color:#125FA5;}
.info_tab li.cur_tab a{color:#3498DB;}
/*-------------新闻--------------------*/
.w-News-list .news-com .news-h .news-kind,.w-adNews a.news-kind,.w-News-list .news-com .news-h a:hover,.w-adNews .news-h a:hover,.w-adNews1 li .news-item .news-com .news-h a:hover{color:#3498DB;}
.w-News-list .news-com .news-h .news-kind,.w-adNews a.news-kind{color:#3498DB;}
.w-News-list5 li .news-item .data-day,.w-adNews1 li .news-item .data-day{ background:#3498DB;}
.w-News-list7 li .date .date-day,.w-News-list7 li .date .date-yearMonth{background-color:#3498DB; color:#fff;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#222;}
.w-adNews3{background:#3498DB;}
.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#3498DB;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .w-adNews-textH p,.w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#fff; color:#fff;opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
.w-adNews3 .w-adNews-texts li{border-color:#fff;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../image/adnews3prev_white.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../image/adnews3next_white.png");}
.w-adNews10 li .news-item .news-com .more a{ background:#3498DB;}
.w-adNews10 li .news-item .news-com .more a:hover{ background:#1A88D2;}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#3498DB;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../image/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.btn-greenC,.btn-greenA{background-color:#3498DB;}
.checkbox_tel input[type="checkbox"]:checked + label{background-color:#3498DB;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#3498DB;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#D0F8FF;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecur.png');}
/*----------------------标题------------------------*/
.color_vice{}
.color_h{}
.color_span{}
.colorbg_main{color:#3498DB;}
.bg_main{background-color:#3498DB;}
.bg_main_light{background-color:#EBF5FC;}
.bg_simpline{background-color:#3498DB;}
.border_colorall_main{border-color:#3498DB;}
.aHoverborder_main:hover{border-color:#3498DB;}
.border_colorleft_main{border-left-color:#3498DB;}
.border_colortop_main{border-top-color:#3498DB;}
.border_colorright_main{border-right-color:#3498DB;}
.border_colorbottom_main{border-bottom-color:#3498DB;}
.aHovercolor_main:hover{color:#3498DB;}
.aHoverbg_main:hover{background-color:#3498DB;}
.border_colorall_main_deepen{border-color:#1A88D2;}
.aHovercolor_deepen:hover{ color:#1A88D2;}
.aHoverbg_deepen:hover{ background-color:#1A88D2;}
.aHoverborder_deepen:hover{border-color:#1A88D2;}
.colorChange{background-color:#3498DB;
    background-image: -webkit-linear-gradient(bottom, #1A88D2, #3498DB);
	background-image: -moz-linear-gradient(bottom, #1A88D2, #3498DB);
	background-image: -o-linear-gradient(bottom, #1A88D2, #3498DB);
	background-image: -ms-linear-gradient(bottom, #1A88D2,#3498DB);
	background-image: linear-gradient(to top, #1A88D2, #3498DB);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#3498DB, endColorStr=#1A88D2);}
.colorChange_deepen{background-color:#3498DB;
    background-image: -webkit-linear-gradient(bottom, #3498DB,#1A88D2);
	background-image: -moz-linear-gradient(bottom, #3498DB, #1A88D2);
	background-image: -o-linear-gradient(bottom, #3498DB, #1A88D2);
	background-image: -ms-linear-gradient(bottom, #3498DB, #1A88D2);
	background-image: linear-gradient(to top, #3498DB, #1A88D2);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#1A88D2, endColorStr=#3498DB);}
.bg_main_change{background-color:#3498DB;
    background-image: -webkit-linear-gradient(bottom, #ffffff, #3498DB);
	background-image: -moz-linear-gradient(bottom, #ffffff, #3498DB);
	background-image: -o-linear-gradient(bottom, #ffffff, #3498DB);
	background-image: -ms-linear-gradient(bottom, #ffffff,#3498DB);
	background-image: linear-gradient(to top, #ffffff, #3498DB);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#3498DB, endColorStr=#ffffff);}
.bg_main_changeDeepen{background-color:#3498DB;
    background-image: -webkit-linear-gradient(bottom, #3498DB, #ffffff);
	background-image: -moz-linear-gradient(bottom, #3498DB, #ffffff);
	background-image: -o-linear-gradient(bottom, #3498DB, #ffffff);
	background-image: -ms-linear-gradient(bottom, #3498DB,#ffffff);
	background-image: linear-gradient(to top, #3498DB, #ffffff);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#3498DB);}
.bg_main_change_left{background-color:#3498DB;
    background-image: -webkit-linear-gradient(right, #ffffff, #3498DB);
	background-image: -moz-linear-gradient(right, #ffffff, #3498DB);
	background-image: -o-linear-gradient(right, #ffffff, #3498DB);
	background-image: -ms-linear-gradient(right, #ffffff,#3498DB);
	background-image: linear-gradient(to left, #ffffff, #3498DB);}
.bg_main_changeDeepen_left{background-color:#3498DB;
    background-image: -webkit-linear-gradient(right, #3498DB, #ffffff);
	background-image: -moz-linear-gradient(right, #3498DB, #ffffff);
	background-image: -o-linear-gradient(right, #3498DB, #ffffff);
	background-image: -ms-linear-gradient(right, #3498DB,#ffffff);
	background-image: linear-gradient(to left, #3498DB, #ffffff);}
.w-title17 .w-title-inner{background-image:url("../image/tit17bg_0.png");}
.w-title17 .more:hover{ background-image:url("../image/tit17_morehover_0.png");}
.w-title19 .more .icon_more,.icon_more19bg{ background-image:url("../image/icon_more_0.png");}
@media (min-width:768px){
	.w-com-menu-V{}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent{ background:#16242E;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent{ background:#3498DB;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent a,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent .fa,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent a,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent .fa{ color:#fff;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent .fa{background-color:#434343;}
	.w-com-menu-V .ul-submenu{ background:#395366;}
	.w-com-menu-V .ul-submenu .ul-submenu{background:#47677E;}
	.w-com-menu-V .ul-submenu li:hover >.div-parent a,.w-com-menu .ul-submenu li:hover >.div-parent .fa{ color:#C0E1F8;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ background:#3498DB; color:#fff;}
	.w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent .menu_simpline_cur,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent .menu_simpline_cur{ display:block; background-image:url(../image/menu_h_cur.png);}
	.w-com-menu-H .ul-submenu,.w-com-menu-H .ul-submenu .ul-submenu{ background:#1A88D2;}
	.w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ background:#3498DB; color:#fff;}
}
@media (min-width:961px){
	.nav_simpline_cur{ background:#3498DB;}
	.w-nav .submenu{background:#3498DB; background:rgba(35,119,179,0.9);}
    .w-nav .submenu li{ border-bottom:0;}
	.w-nav .submenu li:last-child{border-bottom:0;}
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ background: #3498DB; }
}
@media (max-width:960px){
	.col-right{ background:#fff;}
	.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-nav .nav_inner > li:hover > a, .w-nav .nav_inner > li:hover > .li-parent-div > a, .w-nav .nav_inner > li.active > a, .w-nav .nav_inner > li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{color:#3498DB;}
}
@media (max-width:767px){
	.w-com-menu .ul-parent{background-color:#f0f0f0;}
	.w-com-menu .ul-submenu ul{ background-color:#f6f6f6;}
	.w-com-menu .ul-submenu .ul-submenu ul{ background-color:#fbfbfb;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a{text-align:left;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a,.w-com-menu .fa{color:#333; }
	.w-com-menu li, .w-com-menu .ul-submenu li{border:none; border-bottom:1px solid #fff;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:none; }
	.w-com-menu li > .div-parent:hover > a, .w-com-menu li.cur > .div-parent > a, .w-com-menu li > .div-parent:hover > .fa, .w-com-menu li.cur > .div-parent > .fa{color:#3498DB; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:none;}
	.systitle{ padding:0.5em 1em; background:#152530; color:#fff;}
	/*-----------------------会员中心和购物车--------------------*/
	.w-admin-nav{background:#3d3d3d;}
	.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecurtel.png');}
}